<%- contentFor("body") %>
  <div class="container marketing mt-5">
    <div class="row">
      <div class="col-lg-4">


        <h2 class="fw-normal">Editar smartphone</h2>

        <form action="/smartphones/editar/<%= smartphone.id %>" method="post">
        <label for="model">Modelo:</label>
        <input type="text" name="model" value="<%= smartphone.model %>">

        <label for="price">Preço:</label>
        <input type="text" name="price" value="<%= smartphone.price %>">

        <label for="name">Nome:</label>
        <input type="text" name="name" value="<%= smartphone.name %>">

        <label for="description">Descrição:</label>
        <input type="text" name="description" value="<%= smartphone.description %>">

        <label for="imageUrl">Imagem:</label>
        <input type="text" name="imageUrl" value="<%= smartphone.imageUrl %>">
        <input type="submit" value="enviar">
          
        </form>
        <p>
        </p>
      </div>
    </div>