<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>mostrar</title>
    </head>
    <body>
        <h1>cep: <%= address.cep %>,</h1>
        <p>logradouro: <%= address.logradouro %>,</p>
        <p>complemento: <%= address.complemento %>,</p>
        <p>bairro: <%= address.bairro %>,</p>
        <p>localidade: '<%= address.localidade %>,</p>
        <p>uf: <%= address.uf %>,</p>
        <p>ibge: <%= address.ibge %>,</p>
        <p>gia: '<%= address.gia %>,</p>
        <p>ddd: <%= address.ddd %>,</p>
        <p>siafi: <%= address.siafi %></p>
    </body>
</html>